.movie-card {
    position: relative;
    padding: 8px 8px 24px;
    background: #20283ECC;
    backdrop-filter: blur(80px);
    border-radius: 12px;
    max-width: 282px;
}

.poster-wrapper {
    max-width: 266px;
    max-height: 400px;
    position: relative;
    margin-bottom: 24px;
}
.bottom-content {
    display: flex;
    gap: 8px;
    margin: 0px 0px 0px 8px;
    text-align: center;
    align-items: center;
}

.bottom-text {
    color: #7B6EF6;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02em;
    align-self: baseline;
}

