.movie-card {
    position: relative;
    padding: 8px 8px 24px;
    background: #20283ECC;
    backdrop-filter: blur(80px);
    border-radius: 12px;
    /* max-width: 282px; */
    display: grid;
    grid-template-rows: 1fr auto;
    /* height: 520px; */
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.movie-title {
    margin-top: auto;
}

.poster-wrapper {
    max-width: 266px;
    max-height: 400px;
    position: relative;
    margin-bottom: 24px;
}

.bottom-content {
    display: flex;
    gap: 8px;
    margin: 0px 0px 0px 8px;
    text-align: center;
    align-items: center;
}

.image-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.image-button:focus {
    outline: none;
}

.bottom-image {
    width: 24px;
    height: 24px;
}

.favorite {
    color: #37D8A7;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.notFavorite {
    color: #7B6EF6;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02em;
    align-self: baseline;
}

.top-content {
    position: absolute;
    top: 8px;
    left: 8px;
    display: flex;
    background: #000000A6;
    backdrop-filter: blur(8px);
    padding: 8px;
    border-radius: 8px;
    gap: 4px;
    align-items: center;
}